/*!
 *  Unit Converter
 *  style.scss
 *	Copyright 2015 - noback.com
 *
 *  Author      : Roel Noback | http://www.noback.com
 *  Version     : 1.0
 *
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66667%; }
  .two.columns {
    width: 13.33333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: OpenSansRegular, Arial, sans-serif;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

a {
  color: #222; }
  a:hover {
    color: #151515; }

.button,
button {
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  color: #555555;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000; }

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #222;
  border-color: #222; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #222;
  border-color: #222; }

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #222;
  border-color: #222; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #222;
  border-color: #222; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 30px;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box; }

textarea,
select {
  height: 30px;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #ff0000;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #ff0000;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 5px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 0; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* 
 * Don't modify things marked with ! - unless you know what you're doing
 */
/* ! vertical layout */
.multiSelect .vertical {
  float: none; }

/* ! horizontal layout */
.multiSelect .horizontal:not(.multiSelectGroup) {
  float: left; }

/* ! create a "row" */
.multiSelect .line {
  padding: 2px 0px 4px 0px;
  max-height: 30px;
  overflow: hidden;
  box-sizing: content-box; }

/* ! create a "column" */
.multiSelect .acol {
  display: inline-block;
  min-width: 12px; }

/* ! */
.multiSelect .inlineBlock {
  display: inline-block; }

/* the multiselect button */
.multiSelect > button {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 1px 8px 1px 8px;
  font-size: 14px;
  min-height: 38px !important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #f7f7f7);
  background-image: linear-gradient(#fff, #f7f7f7); }

/* button: hover */
.multiSelect > button:hover {
  background-image: -webkit-linear-gradient(#fff, #e9e9e9);
  background-image: linear-gradient(#fff, #e9e9e9); }

/* button: disabled */
.multiSelect > button:disabled {
  background-image: -webkit-linear-gradient(#fff, #fff);
  background-image: linear-gradient(#fff, #fff);
  border: 1px solid #ddd;
  color: #999; }

/* button: clicked */
.multiSelect .buttonClicked {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

/* labels on the button */
.multiSelect .buttonLabel {
  display: inline-block;
  padding: 5px 0px 5px 0px;
  text-transform: initial;
  line-height: 0; }

/* downward pointing arrow */
.multiSelect .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0px 0px 1px 12px  !important;
  vertical-align: middle;
  border-top: 4px solid #333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted; }

/* the main checkboxes and helper layer */
.multiSelect .checkboxLayer {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 278px;
  display: none !important; }

/* container of helper elements */
.multiSelect .helperContainer {
  border-bottom: 1px solid #ddd;
  padding: 8px 8px 0px 8px; }

/* helper buttons (select all, none, reset); */
.multiSelect .helperButton {
  display: inline;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 26px;
  font-size: 13px;
  border-radius: 2px;
  color: #666;
  background-color: #f1f1f1;
  line-height: 1.6;
  margin: 0px 0px 8px 0px; }

.multiSelect .helperButton.reset {
  float: right; }

.multiSelect .helperButton:not(.reset) {
  margin-right: 4px; }

/* clear button */
.multiSelect .clearButton {
  position: absolute;
  display: inline;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 22px;
  width: 22px;
  font-size: 13px;
  border-radius: 2px;
  color: #666;
  background-color: #f1f1f1;
  line-height: 1.4;
  right: 2px;
  top: 4px; }

/* filter */
.multiSelect .inputFilter {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 26px;
  font-size: 14px;
  width: 100%;
  padding-left: 7px;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #888;
  margin: 0px 0px 8px 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* helper elements on hover & focus */
.multiSelect .clearButton:hover,
.multiSelect .helperButton:hover {
  border: 1px solid #ccc;
  color: #999;
  background-color: #f4f4f4; }

.multiSelect .helperButton:disabled {
  color: #ccc;
  border: 1px solid #ddd; }

.multiSelect .clearButton:focus,
.multiSelect .helperButton:focus,
.multiSelect .inputFilter:focus {
  border: 1px solid #66AFE9 !important;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.065), 0 0 5px rgba(102, 175, 233, 0.6) !important; }

/* container of multi select items */
.multiSelect .checkBoxContainer {
  display: block;
  padding: 8px;
  overflow: hidden; }

/* ! to show / hide the checkbox layer above */
.multiSelect .show {
  display: block !important; }

/* item labels */
.multiSelect .multiSelectItem {
  display: block;
  padding: 3px;
  color: #444;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  position: relative;
  min-width: 278px;
  min-height: 32px; }

/* Styling on selected items */
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
  background-image: -webkit-linear-gradient(#e9e9e9, #f1f1f1);
  background-image: linear-gradient(#e9e9e9, #f1f1f1);
  color: #555;
  cursor: pointer;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #d9d9d9; }

.multiSelect .multiSelectItem .acol label {
  display: inline-block;
  padding-right: 30px;
  margin: 0px;
  font-weight: normal;
  line-height: normal; }

/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
  background-image: -webkit-linear-gradient(#c1c1c1, #999) !important;
  background-image: linear-gradient(#c1c1c1, #999) !important;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #ccc !important; }

/* item labels focus using keyboard */
.multiSelect .multiSelectFocus {
  background-image: -webkit-linear-gradient(#c1c1c1, #999) !important;
  background-image: linear-gradient(#c1c1c1, #999) !important;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #ccc !important; }

/* change mouse pointer into the pointing finger */
.multiSelect .multiSelectItem span:hover,
.multiSelect .multiSelectGroup span:hover {
  cursor: pointer; }

/* ! group labels */
.multiSelect .multiSelectGroup {
  display: block;
  clear: both; }

/* right-align the tick mark (&#10004;) */
.multiSelect .tickMark {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 10px; }

/* hide the original HTML checkbox away */
.multiSelect .checkbox {
  color: #ddd !important;
  position: absolute;
  left: -9999px;
  cursor: pointer; }

/* checkboxes currently disabled */
.multiSelect .disabled,
.multiSelect .disabled:hover,
.multiSelect .disabled label input:hover ~ span {
  color: #c4c4c4 !important;
  cursor: not-allowed !important; }

/* If you use images in button / checkbox label, you might want to change the image style here. */
.multiSelect img {
  vertical-align: middle;
  margin-bottom: 0px;
  max-height: 22px;
  max-width: 22px; }

html,
body,
.box-container,
.row {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  background: transparent; }

body .box-row #box-container {
  z-index: 1; }

body #background-container {
  position: fixed;
  width: 100%;
  height: inherit;
  top: 0;
  bottom: 0;
  background: url(../images/bg/bg1.jpg) no-repeat center center fixed;
  background-size: cover; }

#box-container {
  position: absolute;
  /*top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
  margin: 20px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: #333 0px 0px 35px;
  border: none; }
  @media (min-width: 550px) {
    #box-container {
      width: auto;
      max-width: 470px; } }
  @media (min-width: 750px) {
    #box-container {
      width: auto;
      max-width: 680px; } }
  @media (min-width: 1000px) {
    #box-container {
      width: auto;
      max-width: 910px;
      margin: 50px; } }
  @media (min-width: 1200px) {
    #box-container {
      width: auto;
      max-width: 1110px; } }
  #box-container .box-container__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.35;
    border-radius: 5px; }
  #box-container .box-container__content {
    position: relative;
    z-index: 2; }
    #box-container .box-container__content .box-header {
      width: auto;
      padding: 10px 20px 0 20px;
      zoom: 1;
      border-bottom: 1px solid #888888; }
      #box-container .box-container__content .box-header:before, #box-container .box-container__content .box-header:after {
        display: table;
        content: "";
        line-height: 0; }
      #box-container .box-container__content .box-header:after {
        clear: both; }
      #box-container .box-container__content .box-header .box-content__bg {
        position: relative;
        z-index: 3; }
        #box-container .box-container__content .box-header .box-content__bg label.units-dropdown {
          margin: 5px 0px;
          text-shadow: 0px 0px 7px white;
          font-size: 14px; }
          @media (min-width: 550px) {
            #box-container .box-container__content .box-header .box-content__bg label.units-dropdown {
              margin: 5px 13px;
              float: left; } }
        #box-container .box-container__content .box-header .box-content__bg .dropdown-toggle {
          background: white;
          text-transform: capitalize;
          border: 0; }
        #box-container .box-container__content .box-header .box-content__bg .data-multiselect-dropdown {
          float: left;
          text-transform: capitalize; }
        #box-container .box-container__content .box-header .box-content__bg .units-multiselect-dropdown {
          float: left;
          text-transform: capitalize;
          margin-right: 10px; }
      #box-container .box-container__content .box-header .btn-collapse-window {
        height: 30px;
        padding: 0 10px;
        background: transparent;
        font-weight: 600;
        line-height: 30px;
        border-radius: 5px;
        float: right;
        cursor: pointer;
        font-size: 12px; }
        @media (min-width: 400px) {
          #box-container .box-container__content .box-header .btn-collapse-window {
            margin: 0 10px 10px 0; } }
      #box-container .box-container__content .box-header .box-header__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        background: white;
        opacity: 0.25; }
    #box-container .box-container__content .box-body {
      padding: 20px;
      overflow: hidden; }
      @media (min-width: 400px) {
        #box-container .box-container__content .box-body {
          padding: 20px 5px; } }
      @media (min-width: 550px) {
        #box-container .box-container__content .box-body {
          padding: 20px; } }
    #box-container .box-container__content .box-body.disabled {
      display: none; }

#box-container.collapsed {
  position: relative;
  width: 50px;
  border-radius: 0;
  margin: 0 auto; }
  #box-container.collapsed .box-container__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0.35;
    border-radius: 5px; }
  #box-container.collapsed .box-header {
    padding: 0; }
    #box-container.collapsed .box-header .btn-collapse-window {
      margin: 5px 8px 5px; }

ul {
  list-style: none; }
  ul li.input-wrap {
    position: relative;
    float: left;
    border: none;
    display: table;
    height: auto;
    border-radius: 5px;
    width: 100%; }
    @media (min-width: 400px) {
      ul li.input-wrap {
        width: 46%;
        margin: 2%; } }
    @media (min-width: 550px) {
      ul li.input-wrap {
        width: 46%;
        max-width: 200px;
        min-width: 160px;
        margin: 2%; } }
    @media (min-width: 750px) {
      ul li.input-wrap {
        width: 31.33334%;
        max-width: 200px;
        min-width: 167px;
        margin: 1%; } }
    @media (min-width: 1000px) {
      ul li.input-wrap {
        width: 23%;
        max-width: 200px;
        min-width: 167px;
        margin: 1%; } }
    @media (min-width: 1200px) {
      ul li.input-wrap {
        width: 18%;
        max-width: 200px;
        min-width: 167px;
        margin: 1%; } }
    ul li.input-wrap .input-wrap__content {
      position: relative;
      z-index: 1;
      padding: 4px 6px 6px;
      border-radius: 5px;
      border: 1px solid transparent; }
      ul li.input-wrap .input-wrap__content label {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        margin: 0 0 0 .5rem;
        text-align: left;
        font-weight: normal;
        font-size: 13px;
        font-weight: bold;
        text-shadow: 0px 0px 7px white;
        line-height: 22px;
        padding-bottom: 4px; }
      ul li.input-wrap .input-wrap__content label.subfield1, ul li.input-wrap .input-wrap__content label.subfield2 {
        display: none; }
      ul li.input-wrap .input-wrap__content input {
        width: 100%;
        border: 0;
        font-size: 13px; }
      ul li.input-wrap .input-wrap__content input.subfield1, ul li.input-wrap .input-wrap__content input.subfield2 {
        display: none; }
      ul li.input-wrap .input-wrap__content .btn-calc {
        display: none;
        margin: 0 0 0 3%;
        color: #ff0000;
        font-size: 1.2em;
        height: 28px;
        line-height: 1em;
        cursor: pointer;
        text-shadow: 0px 0px 4px #333; }
        ul li.input-wrap .input-wrap__content .btn-calc:hover {
          color: #ffffff;
          text-shadow: 0px 0px 4px #ff0000; }
    ul li.input-wrap .input-wrap__content.active {
      border: 1px solid #ffffff; }
      ul li.input-wrap .input-wrap__content.active input {
        width: 82%; }
      ul li.input-wrap .input-wrap__content.active .btn-calc {
        display: inline; }
    ul li.input-wrap .input-wrap__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0.5;
      border-radius: 5px; }

input.uc-input {
  width: auto;
  font-size: 13px;
  padding: 3px 6px;
  height: 28px; }

.dropdown-toggle {
  letter-spacing: 0;
  text-transform: none;
  font-size: 13px; }

ul.dropdown-menu {
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  list-style: none;
  border: 1px solid #bbb;
  border: none;
  width: 240px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: #333 0px 2px 1px;
  left: 0; }
  @media (min-width: 400px) {
    ul.dropdown-menu {
      left: auto; } }
  ul.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e1e1e1; }
  ul.dropdown-menu > li {
    margin-bottom: 0; }
    ul.dropdown-menu > li > a {
      padding: 5px 10px;
      display: block;
      font-size: 13px; }
    ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li a:focus {
      background: #e1e1e1; }
  ul.dropdown-menu .dropdown-header {
    display: block;
    padding: 3px 20px 3px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    font-weight: bold;
    border-top: solid 1px #ddd; }
