// Components
//––––––––––––––––––––––––––––––––––––––––––––––––––

#box-container{
    position: relative;
	/*top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
    //border: 1px solid $border-color;
    margin: 5% 0;
    @include border-radius($global-radius);
    @include box-shadow($global-box-shadow);
    border: none;
    
    
    .box-container__bg{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        opacity: 0.35;
        @include border-radius($global-radius);
    }
    .box-container__content{
        position: relative;
        z-index: 2;
        .box-header{
            
            width:auto;
            height: auto;
            padding: 20px 20px 0 20px;
            //@include border-top-radius($global-radius);
            @include clearfix();
            border-bottom: 1px solid $mid-grey;
            
            .box-content__bg{
                position: relative;
                z-index: 3;
                label.elements-dropdown{
                    float:left;
                    margin: 0.25em 0.75em 0 0;
                }
                label.units-dropdown{
                    float:left;
                    margin: 0.25em 0.75em 0.25em 2em;
                }
                .dropdown-toggle{
                    background:white;   
                }
                .data-multiselect-dropdown{
                      float:left; 
                }
                
                .units-multiselect-dropdown{
                      float:left; 
                }
                
                
                .ul.dropdown-menu{
                    z-index: 999;
                }
            }
            
            .box-header__bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;
                background: white;
                opacity:0.2;
            }
        }

        .box-body{
            padding: 20px 20px 20px 20px;
            overflow:hidden;
        }


        .box-footer{
            //padding: 0 20px 20px 20px;
        }
    }
}
@media (#{$bp-larger-than-phablet}) {
}

.input-wrap{
    position: relative;
    float:left;
    margin: 0.5rem 1rem 0.5rem 0;
    border:none;
    display: table;
    height: 30px;
    
    padding:5px;
    @include border-radius($global-radius);
    .input-wrap__content{
        position: relative;
        z-index:1;
        label{
            cursor:move;
            cursor:-webkit-grab;
            cursor:-moz-grab;
            margin: 0 0 0 .5rem;  
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 0px 0px 7px white;
        }
    }
    .input-wrap__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.5;
        @include border-radius($global-radius);
    }
}

input.uc-input{
    width: auto;
    font-size: 13px;
    padding: 3px 6px;
    height: 28px;
    
    //float:left;
}