.dropdown-toggle{
    letter-spacing: 0;
    text-transform: none;
    font-size: 13px;
}
ul.dropdown-menu{
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
    position:absolute;
    list-style: none; 
    border: 1px solid $border-color;
    border: none;
    width: 240px;   
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    box-shadow : $global-box-shadow-bottom;    
    left:0;
    @media (#{$bp-larger-than-mobile}) {
        left:auto;
    }
    
    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: $light-grey;
    }
    >li{
        margin-bottom:0;
        >a{
            padding: 5px 10px;
          
            display: block;
            font-size: 13px;
            cursor: pointer;
        }
        >a:hover, a:focus{
            background:   $light-grey;
        }
    }
    .dropdown-header{
        display: block;
        padding: 3px 20px 3px 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #000;
        font-weight: bold;
        border-top: solid 1px #ddd;
    }
}