// Layout
//––––––––––––––––––––––––––––––––––––––––––––––––––


html, 
body, 
.box-container, 
.row, {
    position: relative;
    height: 100%;
    top:0;
    bottom:0;
    margin:0;
    background:transparent;
}
body .box-row #box-container{
    z-index:1;
}
body #background-container{
    display: block;
    position: fixed;
    width: 100%;
    height: inherit;
    top:0;
    bottom:0;
    background: url(../images/bg/bg1.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;

    background-attachment: fixed;
}
