// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$white: #ffffff !default; 
$black: #000000 !default;    
$light-grey: #e1e1e1 !default;
$mid-grey: #888888 !default;
$dark-grey: #333 !default;
$primary-color: #ff0000 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$font-color: #222 !default;
$link-color: $font-color;
$red: #ff0000;

// border top and bottom

// Typography
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');

$font-primary: OpenSansRegular, Arial, sans-serif !default;
$font-secondary: Merriweather, serif;

//Grid Variables
$container-width: 100% !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 5px !default;
$global-box-shadow: $dark-grey 0px 0px 35px;
$global-box-shadow-bottom: $dark-grey 0px 2px 1px;

// Functions
@function grid-column-width($n) {
  @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function grid-offset-length($n) {
  @return grid-column-width($n) + $column-margin;
}
